.notFoundSection{
    display: flex;
    flex-direction: column;
    background-color: #F9F871;
    height: 100vh;
}
.image{
    height: 40rem;
}

.buttonLink{
    align-self: center;
}

.lostButton{
    width: max-content;
    padding: 1rem;
    font-size: 2rem;
    font-style: italic;
    background-color: #EEE8A9;
    border: 1px solid black;
    border-radius: 1rem;
    cursor: pointer;
}